apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-ui
spec:
  replicas: 2
  selector:
    matchLabels:
      app: react-ui
  template:
    metadata:
      labels:
        app: react-ui
    spec:
      containers:
        - name: react-ui
          image: dockerhub_username/ashok-ui:latest
          ports:
            - containerPort: 3000
